body{
    background-color: antiquewhite;
   }
   
   .inputs{
    padding-left: 100px;
   }
   #value1{
     margin: 20px;
 }
   #value2{
     margin: 20px;
     }
   
   #operator{
   color: chocolate;
   width: fit-content;
   height: 3em;
  
   }
   .button1{
       background-color: green;
       width: fit-content;
       height: 3em;
       margin: 20px;
   }
   .CalBox{
     margin-left: 500px;
     margin-top: 50px;
     background-color:rgb(202, 202, 175) ;
     height: fit-content;
     width: 500px;
   }
   #result{
     margin-left: 500px;
     text-align: center;

   }